<div class="container">
    <div class="elevate-section">
        <br>
        <div class="elevate-title">Notre Mission</div>
      
    </div>
    <div class="image-container">
        <img src="..\assets\animaux-mission.png" alt="Message d'Animaux" class="professional-image">
    </div>
</div>
<section style="margin-top: 100px;">
    <section class="site-section" >
      <div class="section-content">
        <div class="elevate-content">
            Un simple clic peut tout changer ! Ensemble, sauvons nos rues des souffrances invisibles : protégez les animaux errants et rendez nos quartiers plus sûrs. Chaque geste compte, et c’est vous qui avez le pouvoir de faire la différence.        </div>
      </div>
    </section>
    <section class="services-section">
    <div class="service-box">Nourrir</div>
    <div class="service-box">Soigner</div>
    <div class="service-box">Stériliser</div>
    <div class="service-box">Protéger</div>
</section>
    </section>
    <div class="container">
        <h1 class="animated-title">Mission Bienveillance</h1>
        <p>Sauvegarder et Soigner Nos Animaux de Rue pour un Avenir Meilleur</p>
    
        <div class="row">
          <div class="column">
            <div class="card Sauve">
              <img src="..\assets\sauve.png" alt="Développeur Web Image">
              <h2 style="color: #F8961D;">Sauver les animaux de rue :</h2>
              <p style="color: #193441;">🌟 Offrir refuge et soins aux animaux errants.</p>
              <p style="color: #193441;">    💔 Réduire la souffrance et la maltraitance. </p>
            </div>
          </div>
    
          <div class="column">
            <div class="card securite">
              <img src="..\assets\securite.png" alt="Data Scientist Image">
              <h2 style="color: #28A992;">Protéger nos communautés</h2>
              <p style="color: #193441;">🔒 Garantir la sécurité des citoyens face aux animaux.</p>
              <p style="color: #193441;">🏙️ Promouvoir une coexistence pacifique entre animaux et habitants.</p>
            </div>
          </div>
    
          <div class="column">
            <div class="card sensibilisation">
              <img src="..\assets\sensibilisation.png" alt="UX/UI Designer Image">
              <h2 style="color: #4CB853;">Sensibiliser et éduquer</h2>
              <p style="color: #193441;">📚 Informer le public sur le bien-être animal</p>
              <p style="color: #193441;">🐾 Encourager l'adoption responsable et les pratiques bienveillantes.</p>
            </div>
          </div>
        </div>
      </div>