body {
    background-color:rgb(38, 152, 147,0.15) !important; /* Remplacez #f0f0f5 par la couleur de votre choix */
    font-family: 'Arial', sans-serif;
    text-align:center;
    margin: 0;
    
  }